<%- include('header-script.ejs') %>.
    <style>
        body {
                height: 100vh;
                width: 100vw;
                background: url('/images/background.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
            }

            .container .text-blue-500 {
                color: #0a4471;
            }

            .container .text-green {
                color: #98e68a;
            }

            .container h2 {
                opacity: 0.8;
                width: 20rem;
            }

            .container .card {
                height: 90%;
            }

            .container .card .address-image {
                width: calc(25vw + 150px);
            }

            @media (max-width: 768px) {
                .container .text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

    </style>
</head>

<body>

<%- include('navbar.ejs') %>.

    <div class="container p-5 h-100">
        <h2 class="text-green bg-black rounded-2 text-center mb-3">About us</h2>
        <div class="card p-3">
            <div class="row">
                <div class="col-lg-6 col-md-9 mx-auto text">
                    <h3 class="text-blue-500 fw-bold mb-3">Address</h3>
                    <img src="https://picsum.photos/640/425?random" class="address-image mb-3 Img-fulid">
                    <p class="text-blue-500 fw-bold fs-5 mb-0">System : SHS</p>
                    <p class="text-blue-500 fw-bold fs-5 mb-0">Tools : Python</p>
                    <p class="text-blue-500 fw-bold fs-5 mb-0">Ref : www.wongnai.com</p>
                </div>
                <!-- <div id="data-container"></div> -->
            </div>
        </div>
    </div>
</body>




<%- include('footer-script.ejs') %>.

