<%- include('header-script.ejs') %>.

    <style>
        body {
            height: 100vh;
            width: 100vw;
            background: url('/images/background.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .container .text-blue-100 {
            color: #3ea4e4;
        }

        .container .text-blue-500 {
            color: #0a4471;
        }

        .container .text-red {
            color: #e58975;
        }

        .container h2 {
            opacity: 0.8;
            width: 20rem;
        }

        .container .card {
            width: 100%;
        }

        @media (max-width: 991px) {
            .container .card {
                width: 250px !important;
            }
        }

    </style>
</head>

<body>

    <%- include('navbar.ejs') %>.


    <div class="container py-5">
        <div class="row card">
            <div class="col-12">
                <table id="myTable" class="display">
                    
                </table>
            </div>
        </div>
    </div>

</body>



<script>

    $(document).ready(function() {
        // Fetch data from /api/store when the page loads

        $.ajax({
            type: 'GET',
            url: '/api/get-user',
            contentType: 'application/json',
            headers: {
                'Authorization': 'Bearer ' + '<%= accessToken %>'
            },
            success: function(data) {

                let users = [];
                if(data.status == true){
                    users = data.users
                }

                console.log(users)

                let thead = `
                    <thead>
                        <tr>
                            <th>email</th>
                            <th>active</th>
                            <th>action</th>
                        </tr>
                    </thead>
                `

                let html_user = ''
                users.forEach(function(item){
                    html_user += `
                        <tr>
                            <td>${item.email}</td>
                            <td>${item.active ? `<div class="badge bg-success">Active</div>` : `<div class="badge bg-danger">Ban</div>`}</td>
                            <td>${ item.active ? `<button class="ban-btn btn btn-danger" data-user-id="${item.email}">Ban</button>` : '' }</td>
                        </tr>
                    `;
                });


                let tbody = `
                    <tbody>
                        ${html_user}
                    </tbody>
                `

                let html = `
                ${thead}
                ${tbody}
                `



                $('#myTable').append(html);


                $(document).ready( function () {
                    $('#myTable').DataTable();
                } );

                

                $('.ban-btn').click(function() {
                    let email = $(this).data('user-id');
                    let formData = {
                        "email":  email
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/api/ban-user',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        headers: {
                            'Authorization': 'Bearer ' + '<%= accessToken %>'
                        },
                        data: JSON.stringify({ email : email }),
                        success: function(response) {
                            // Handle success response if needed
                            if(response.status === 200){
                                alert('ban success')
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Error:', error);
                            // Handle error if needed
                        }
                    });
                });

            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                // Handle error if needed
            }
        });
    });


</script>

<%- include('footer-script.ejs') %>.