<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<!-- <script src="http://pagination.js.org/dist/2.6.0/pagination.js"></script> -->

<!-- <script>
   $(document).ready(function(){
            // Select the pagination container and data container
            var paginationContainer = $('#demo');
            var dataContainer = $('#data-container');

            // Initialize Pagination.js with jQuery
            paginationContainer.pagination({
                dataSource: [1, 2, 3, 4, 5, 6, 7, 195], // Static array as data source
                pageSize: 3, // Number of items per page
                callback: function(data, pagination) {
                    // Callback triggered when a page is changed
                    // You can update your UI here with the new data
                    var html = template(data);
                    dataContainer.html(html);
                }
            });

            // Template method to render data
            function template(data) {
                var html = '<ul>';
                $.each(data, function(index, item) {
                    html += '<li>' + item + '</li>';
                });
                html += '</ul>';
                return html;
            }
        });
</script> -->

</html>