<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
    <title>SHS</title>
    <style>
        .nav-line{
                border: none;
        }
        .search-button{
            background: #fff;
            border: none;

            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-50%,-50%);
        }
        @media (min-width: 992px) { 
            .nav-line{
                border-left: 2px solid #fff;
            }
         }
    </style>