<%- include('header-script.ejs') %>.

    <style>
        body {
            height: 100vh;
            width: 100vw;
            background: url('/images/background.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .container {
            min-height: 100%;
        }

        .container .fs-7 {
            font-size: 14px;
        }

        .container .text-blue-100 {
            color: #3ea4e4;
        }

        .container .text-blue-500 {
            color: #0a4471;
        }

        .container .text-green {
            color: #98e68a;
        }

        .container .text-red {
            color: #e58975;
        }

        .container .card .nav-pills .nav-link.active {
            background-color: black;
            color: white !important;
        }

        .container .card .tab-content a {
            text-decoration: none;
        }

        .container .card .tab-content a:hover {
            text-decoration: underline;
        }
        
    </style>
</head>

<body>
    <div class="container d-flex align-items-center justify-content-center">
        <div class="card col-11 col-md-9 col-lg-6 p-3 my-5">
            <ul class="nav nav-pills" role="tablist">
                <li class="nav-item w-50 text-center fw-bold">
                    <a class="nav-link active text-dark" id="pill-tab-0" data-bs-toggle="pill" href="#pill-tabpanel-0"
                        role="tab" aria-controls="pill-tabpanel-0" aria-selected="true">Sign In</a>
                </li>
                <li class="nav-item w-50 text-center fw-bold">
                    <a class="nav-link text-dark" id="pill-tab-1" data-bs-toggle="pill" href="#pill-tabpanel-1"
                        role="tab" aria-controls="pill-tabpanel-1" aria-selected="false">Sign Up</a>
                </li>
            </ul>
            <hr>
            <div class="tab-content">
                <div class="tab-pane active" id="pill-tabpanel-0" role="tabpanel" aria-labelledby="pill-tab-0">
                    <form id="loginForm" method="POST" class="login-form p-2">
                        <h2>Log In</h2>
                        <div class="my-3">
                            <label for="LoginEmail1" class="form-label ">Email</label>
                            <input type="email" value="" class="form-control" id="LoginEmail1" placeholder="Enter Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="LoginPassword1" class="form-label">Password</label>
                            <input type="password" value="" class="form-control" id="LoginPassword1"
                                placeholder="Enter Password" minlength="3" required>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn bg-black text-white fw-bold px-4">Login</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="pill-tabpanel-1" role="tabpanel" aria-labelledby="pill-tab-1">
                    <form id="registerForm" class="register-form p-2">
                        <h2>Create Account</h2>
                        <!-- <div class="row">
                            <div class="col-md-6 mb-2">
                                <label for="FirstName" class="form-label ">First Name*</label>
                                <input type="text" class="form-control" id="FirstName" placeholder="My first name">
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="FirstName" class="form-label ">Last Name*</label>
                                <input type="text" class="form-control" id="FirstName" placeholder="My last name">
                            </div>
                        </div> -->
                        <div class="mb-3">
                            <label for="RegisterEmail" class="form-label ">Email*</label>
                            <input type="email" class="form-control" id="RegisterEmail" placeholder="Enter Email">
                        </div>
                        <!-- <div class="mb-3">
                            <label for="RegisterTel" class="form-label ">Mobile No*</label>
                            <input type="email" class="form-control" id="RegisterTel" placeholder="Enter Email">
                        </div> -->
                        <div class="mb-3 d-flex flex-column">
                            <label for="RegisterTel" class="form-label ">Select Your Type* <br> <small>(you can select more then one type)</small></label>
                            <div id="categories" class="d-flex flex-column">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-2">
                                <label for="Password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="Password"
                                    placeholder="Enter Password">
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="ConfirmPassword" class="form-label">Confirm password</label>
                                <input type="password" class="form-control" id="ConfirmPassword"
                                    placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn bg-black text-white fw-bold px-4">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(document).ready(function() {
        $('#registerForm').submit(function(event) {
            event.preventDefault(); // Prevent default form submission behavior


            if( $('#Password').val() !=  $('#ConfirmPassword').val()){
                return alert("password not match!");
            }

            // Get form data
            var formData = {
                email: $('#RegisterEmail').val(),
                password: $('#Password').val() ,
                categories : []
            };

            $('.checkbox').each(function() {
                if ($(this).is(':checked')) {
                    formData.categories.push($(this).data('id'));
                }
            });

            if(formData.categories.length === 0){
                return alert("please select type before register");
            }

            $.ajax({
                type: 'POST',
                url: '/api/register',
                contentType: 'application/json',
                data: JSON.stringify(formData), // Convert data to JSON string
                success: function(response) {
                    console.log(response)
                    if (response.status === true) {

                        alert("register successfully");
                        // If login is successful, redirect to dashboard page
                        window.location.reload();
                    } else {
                        // If login fails, display error message
                        alert(response.message);
                    }
                },
                error: function(xhr, status, error) {
                    if (xhr.responseJSON && xhr.responseJSON.message) {
                        alert(xhr.responseJSON.message);
                    } else {
                        alert('An error occurred. Please try again later.');
                    }
                }
            });
        });
    });


</script>

<script>
    $(document).ready(function() {
        $('#loginForm').submit(function(event) {
            event.preventDefault(); // Prevent default form submission behavior

            // Get form data
            var formData = {
                email: $('#LoginEmail1').val(),
                password: $('#LoginPassword1').val()
            };

            console.log(formData)

            // Make AJAX request
            $.ajax({
                type: 'POST',
                url: '/api/login',
                contentType: 'application/json',
                data: JSON.stringify(formData), // Convert data to JSON string
                success: function(response) {
                    console.log(response)
                    if (response.status === true) {
                        // If login is successful, redirect to dashboard page
                        window.location.href = '/store';
                    } else {
                        // If login fails, display error message
                        alert(response.message);
                    }
                },
                error: function(xhr, status, error) {
                    if (xhr.responseJSON && xhr.responseJSON.message) {
                        alert(xhr.responseJSON.message);
                    } else {
                        alert('An error occurred. Please try again later.');
                    }
                }
            });
        });
    });


</script>

<script>
    // Get all checkboxes
    const checkboxes = document.querySelectorAll('.checkbox');

    // Track number of checkboxes checked
    let checkedCount = 0;

    // Add event listener to checkboxes
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', () => {
            if (checkbox.checked) {
                // Increment checked count if checkbox is checked
                checkedCount++;
                if (checkedCount > 2) {
                    // If more than 2 checkboxes are checked, uncheck the last checkbox
                    checkbox.checked = false;
                    checkedCount--;
                    alert('You can only check up to 2 checkboxes.');
                }
            } else {
                // Decrement checked count if checkbox is unchecked
                checkedCount--;
            }
        });
    });
</script>

<script>
     $(document).ready(function() {
        // Fetch data from /api/store when the page loads
        $.ajax({
            type: 'GET',
            url: '/api/get-categories',
            contentType: 'application/json',
           
            success: function(data) {

                console.log(data)

                let categories_list = [];
                if(data.length > 0){
                    categories_list = data
                }

                console.log(categories_list)
                // Iterate through the data and dynamically generate HTML for each item
                categories_list.forEach(function(item) {
                    var html = `
                                <div class="d-flex">
                                        <input type="checkbox" name="checkbox1" class="checkbox" data-id="${item._id}"> <div class="ms-2">${item.name}</div>
                                </div>`;
                    // Append the generated HTML to the container
                    $('#categories').append(html);
                });

            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                // Handle error if needed
            }
        });

            $(document).on('change', '.checkbox', function() {
            if ($(this).is(':checked')) {
                // If checkbox is checked, increment the checkedCount
                checkedCount++;
                if (checkedCount > 2) {
                    // If more than 2 checkboxes are checked, uncheck the current checkbox
                    $(this).prop('checked', false);
                    checkedCount--;
                    alert("You can only select up to 2 checkboxes.");
                }
            } else {
                // If checkbox is unchecked, decrement the checkedCount
                checkedCount--;
            }
        });
    });

</script>

<%- include('footer-script.ejs') %>.
