<header>
    <div class="container">
        <div class="d-flex justify-content-end pb-1">
            <a style="all: unset;cursor: pointer;color: #fff;" href="/api/logout">Log Out</a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item p-2">
                    <a class="nav-link <%= currentRoute === '/store' ? 'active' : '' %>" href="/store">Home</a>
                  </li>
                  <li class="nav-item p-2">
                    <a class="nav-link nav-line <%= currentRoute === '/about' ? 'active' : '' %>" href="/about">About Us </a>
                  </li>
                  <li class="nav-item p-2 <%= role === 'admin' ? '' : 'd-none' %>">
                    <a class="nav-link nav-line <%= currentRoute === '/admin-users' ? 'active' : '' %>" href="/admin-users">Admin</a>
                  </li>
                </ul>
                <div class="d-flex position-relative">
                    <input id="form-search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button id="form-search" class="search-button" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
        </nav>
    </div>
  </header>