<%- include('header-script.ejs') %>.

    <style>
        body {
            height: 100vh;
            width: 100vw;
            background: url('/images/background.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .container .text-blue-100 {
            color: #3ea4e4;
        }

        .container .text-blue-500 {
            color: #0a4471;
        }

        .container .text-red {
            color: #e58975;
        }

        .container h2 {
            opacity: 0.8;
            width: 20rem;
        }

        .container .card {
            width: 100%;
            min-width: 250px; /* Minimum size of the cards */
            max-width: 300px; 
            margin: 0 auto;
        }

        @media (max-width: 991px) {
            .container .card {
                width: 250px !important;
            }
        }

        .container .card img {
        width: 100%; /* ระบุว่ารูปภาพควรเต็มขนาดของ card */
        height: 200px; /* ตั้งค่าความสูงเป็นตายตัว */
        object-fit: cover; /* ทำให้รูปภาพคลุมพื้นที่โดยไม่เสียสัดส่วน */
    }

    </style>
</head>

<body>

    <%- include('navbar.ejs') %>.


    <div class="container py-5">
        <div id="Recommended" class="recommended-content mb-5">
        </div>
        <div id="Hotlist" class="what-hot-content">
        </div>
        <div id="SearchResult" class="what-hot-content">
        </div>
    </div>
</body>

<script>

    $(document).ready(function() {

        featchData();

        function fetchhtml(){
            $('#Recommended').empty();
            $('#Hotlist').empty();
            $('#SearchResult').empty();
        }


        $('#form-search').click(function() {

                fetchhtml();

                if($('#form-search-input').val().trim() != ''){
                    featchSearchData($('#form-search-input').val().trim());
                }else{
                    featchData();
                }
        
        });


        $('#form-search-input').keypress(function(event) {
            if (event.which == 13) { // 13 คือ key code ของปุ่ม Enter
                event.preventDefault(); // ป้องกันการกระทำเริ่มต้นของปุ่ม Enter
                $('#form-search').click(); // ทำการคลิกปุ่ม search
            }
        });

        // Fetch data from /api/store when the page loads
        function featchData(){

            fetchhtml();

            let categories = "<%= categories %>"

            let formData = {
            "categories":  categories.split(',')
            }


        $.ajax({
            type: 'POST',
            url: '/api/get-shop',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            headers: {
                'Authorization': 'Bearer ' + '<%= accessToken %>'
            },
            success: function(data) {

                let recommend_list = [];
                let result_list = [];

                if(data.status == true){
                    recommend_list = data.recommend_list
                    result_list = data.result_list
                }


                
                let recommend_list_html = ''
                // Iterate through the data and dynamically generate HTML for each item
                recommend_list.forEach(function(item) {
                    var html = `
                        <div class="col-lg-4 col-md-6">
                            <div class="card rounded-3 p-3">
                                <a style="all:unset;cursor:pointer;" href="/store/${item._id}">
                                    <img src="${item.thumbnail}" class="rounded-3 mb-3 img-fluid">
                                    <div class="text text-blue-500 fw-bold">
                                        <p class="mb-0 fs-5">${item.name}</p>
                                        <p class="mb-0 fs-5">${item.location}</p>
                                        <p class="mb-0 fs-5">Rating : <span>${item.rating}</span></p>
                                    </div>
                                </a>
                            </div>
                        </div>`;
                    // Append the generated HTML to the container
                    recommend_list_html += html
                });

                let recomment_html = `
                    <h2 class="text-blue-100 bg-black rounded-2 text-center mb-3">Recommended</h2>
                    <div class="row g-3">
                    ${recommend_list_html}    
                    </div>
                `
                $('#Recommended').append(recomment_html);
                
                let result_list_html = ''
                result_list.forEach(function(item) {
                    var html = `
                        <div class="col-lg-4 col-md-6">
                            <div class="card rounded-3 p-3">
                                <a style="all:unset;cursor:pointer;" href="/store/${item._id}">
                                    <img src="${item.thumbnail}" class="rounded-3 mb-3 img-fluid">
                                    <div class="text text-blue-500 fw-bold">
                                        <p class="mb-0 fs-5">${item.name}</p>
                                        <p class="mb-0 fs-5">${item.location}</p>
                                        <p class="mb-0 fs-5">Rating : <span>${item.rating}</span></p>
                                    </div>
                                </a>
                            </div>
                        </div>`;
                    // Append the generated HTML to the container
                    result_list_html += html;
                });

                let result_html = `
                    <h2 class="text-red bg-black rounded-2 text-center mb-3">What's hot</h2>
                    <div class="row g-3">
                    ${result_list_html}    
                    </div>
                `

                $('#Hotlist').append(result_html);

            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                // Handle error if needed
            }
        });
        }



        function featchSearchData(search){
            let formData = {
                "name":  search
            }

        $.ajax({
            type: 'POST',
            url: '/api/get-shop-by-name',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            headers: {
                'Authorization': 'Bearer ' + '<%= accessToken %>'
            },
            success: function(data) {
                let result_list = [];

                if(data.length > 0 ){
                    result_list = data
                }


                
                let result_list_html = ''
                // Iterate through the data and dynamically generate HTML for each item
                result_list.forEach(function(item) {
                    var html = `
                        <div class="col-lg-4 col-md-6">
                            <div class="card rounded-3 p-3">
                                <a style="all:unset;cursor:pointer;" href="/store/${item._id}">
                                    <img src="${item.thumbnail}" class="rounded-3 mb-3 img-fluid">
                                    <div class="text text-blue-500 fw-bold">
                                        <p class="mb-0 fs-5">${item.name}</p>
                                        <p class="mb-0 fs-5">${item.location}</p>
                                        <p class="mb-0 fs-5">Rating : <span>${item.rating}</span></p>
                                    </div>
                                </a>
                            </div>
                        </div>`;
                    // Append the generated HTML to the container
                    result_list_html += html
                });

                let result_html = `
                    <h2 class="text-blue-100 bg-black rounded-2 text-center mb-3">Search Result</h2>
                    <div class="row g-3">
                    ${result_list_html}    
                    </div>
                `
                $('#SearchResult').append(result_html);
            

            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                // Handle error if needed
            }
        });
        }
    });


</script>

<%- include('footer-script.ejs') %>.