<%- include('header-script.ejs') %>.

    <style>
        body {
            height: 100vh;
            width: 100vw;
            background: url('/images/background.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .container .text-blue-500 {
            color: #0a4471;
        }

        .container .text-yellow {
            color: #fefe49;
        }

        .container .search-text {
            opacity: 0.8;
            width: 20rem;
        }

        .container .recomended-image {
            width: 250px;
        }

        @media (max-width: 767px) {
            .container .search-image {
                width: 400px;
            }

            .container .text {
                text-align: center;
            }
        }

        @media (min-width: 1200px) {
            .container .search-image {
                width: 400px;
            }
        }

    </style>
</head>

<body>

    <%- include('navbar.ejs') %>.

    <div class="container py-5">
        <div class="search-content mb-5">
            <h2 class="search-text text-yellow bg-black rounded-2 text-center mb-3">Shop detail</h2>
            <div id="shop" class="card p-3">
                
            </div>
        </div>
    </div>
</body>

<script>

    $(document).ready(function() {
        // Fetch data from /api/store when the page loads
        let formData = {
            "id":  '<%= id %>'
        }

        $.ajax({
            type: 'POST',
            url: '/api/get-shop-by-id',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            headers: {
                'Authorization': 'Bearer ' + '<%= accessToken %>'
            },
            success: function(data) {
                let shop;

                if(data.status == true){
                   shop = data.shop;
                }

                console.log(shop)



                let menu = ``
                shop.menu_list.forEach(function(item){
                    menu += `
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <img src="${item.image}" class="recomended-image mb-3 img-fluid">
                        <p class="text-blue-500 fw-bold fs-5">${item.name}</p>
                    </div>
                    `
                })

                let menu_list = `
                <div class="row g-3 mb-3">
                    <h2 class="text-blue-500 fw-bold">เมนูแนะนำ</h2>
                    ${menu}
                </div>
                `


                let html = `
                <div class="row g-3 mb-3">
                    <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                        <img src="${shop.thumbnail}" class="search-image img-fluid">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="text text-blue-500 fw-bold">
                            <p class="mb-0 fs-5">Name : <span>${shop.name}</span></p>
                            <p class="mb-0 fs-5">Rating : <span>${shop.rating}</span></p>
                            <p class="mb-0 fs-5">Location : <span>${shop.location}</span></p>
                            <p class="mb-0 fs-5">comment : <span>${shop.remark}</span></p>
                        </div>
                    </div>
                </div>
                ${menu_list}
                `


                $('#shop').append(html);
                
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                // Handle error if needed
            }
        });
    });


</script>

<%- include('footer-script.ejs') %>.